<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlink}}
</head>
<body>
  
    <!-- <h1>welcome to the static web</h1>
    <button class="btn btn-danger">blue</button> -->
 {{>navbar}}
  <!-- main header -->
  <div class="containter-fluid main_header">
    <div class ="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class ="row">
            <!-- left side div -->
            <div class ="col-md-6 col-12 main_header_left">
                <p>Welcome to nikita's World</p>
                <h1><b>Make Your Dream Come True</b></h1>
                <a href="/weather"><button>About me</button></a>
          </div>
           <!-- right side div -->
           <div class ="col-md-6 col-12 main_header_right " >
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <figure>
                <div class="carousel-item active text-end ">
                  <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQScXbiMvkvsu1AkpSuUhxsNYJ2QZp6z0PxXg&usqp=CAU" class=" w-100" alt="..." >
                </div>
                <div class="carousel-item active text-end ">
                  <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyF5n-wEJbZefqJW7dQis3FzdAggTcDKtZTInRDeL2fM03USmCPRz9weUtzHOlCakblhQ&usqp=CAU" class=" w-100" alt="..." >
                </div>
              </figure>
              </div>
            </div>
           </div>

          </div>
        </div>
        </div>
        </div>
<!-- footer code -->
<footer>
  <p>created by nikita</p>
</footer>
</body>
</html>