<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
    </head>
<body>
  
    <!-- <h1>welcome to the static web</h1>
    <button class="btn btn-danger">blue</button> -->
{{>navbar}}
  <!-- main header -->
  <div class="containter-fluid main_header">
    <div class ="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class ="row">
            <!-- left side div -->
            <div class ="col-md-6 col-12 main_header_left">
                <p>Welcome to Weather App</p>
                <h1><b>Get The Latest <span class="text_clr">Weather</span> Info In Your City</b></h1>
                <a href="/weather"><button>check now</button></a>
          </div>
           <!-- right side div -->
           <div class ="col-md-6 col-12 main_header_right " >
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                
                <div class="carousel-item active text-end ">
                  <img src="https://cdn1.iconfinder.com/data/icons/weather-and-disaster-filled-outline/340/news_weather_television_tv_reporter_forecast_broadcast_report_sun_rain-512.png" class=" w-50" alt="..." >
                </div>
                <div class="carousel-item text-end">
                  <img src=" https://img.freepik.com/premium-vector/attractive-young-tv-news-weather-reporter-man-showing-weather-forecast_51635-7255.jpg" class=" w-50" alt="...">
                </div>
                <div class="carousel-item text-end">
                  <img src="https://cdn2.vectorstock.com/i/1000x1000/80/66/cute-little-girl-with-umbrella-vector-17988066.jpg" class=" w-50" alt="...">
                </div>
                <div class="carousel-item text-end">
                  <img src="https://png.pngtree.com/element_our/20190602/ourlarge/pngtree-little-girl-in-raincoat-wearing-raincoat-image_1379738.jpg" class=" w-50" alt="...">
                </div>
                <div class="carousel-item text-end">
                  <img src="https://suachuadien.com.vn/wp-content/uploads/2018/01/weather-icon.jpg" class=" w-100" alt="...">
                </div>

              </div>
            </div>
           </div>

          </div>
        </div>
        </div>
        </div>
<!-- footer code -->
<footer>
  <p>created by nikita</p>
</footer>
</body>
</html>